@import "../main.scss";

.advantage-wrapper {
  background-color: $light-green;
  padding: 100px 0px;
  .title {
    text-align: center;
  }
  .card {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    @include breakpoint($sm) {
      grid-template-columns: auto;
    }
    @include md-breakpoint($sm, $md) {
      grid-template-columns: auto auto;
    }
    .card-item {
      width: 250px;
      height: 250px;
      padding: 20px;
      border: 1px solid #8cc63e;
      margin-top: 15px;
      margin-right: 25px;
      text-align: center;

      .ellipse {
        height: 60px;
        width: 60px;
        text-align: center;
        margin-bottom: 15px;
      }
      .title {
        margin-bottom: 10px;
      }
    }
  }
}
